body {
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}

body * {
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    font-family: 'Nunito Sans';
    font-style: italic;
}
.button2 {
    background-color: transparent;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 1px solid #FFFFFF;
    padding: 13px 33px;
    color: white;
    font-family: 'Nunito Sans';
    font-style: italic;

}
.logo {
    color: #E3B873;
}
.header {
    background-color:#131313;
    }
.nav {
    display: flex;
    flex-flow: row;
    list-style: none;
}

.headernav {
    color: #FFFFFF;
    box-sizing: border-box;
    margin-right: 47px;
    text-align: center;
}
.phone {
    line-height: 15px;
    text-align: center;
    color: #E3B873;
}
.headercontent  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.hero-container {
    position: relative;
    z-index: 1;
}
.hero {
    background-image: url('../images/1.png');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
    }
.title {
    margin: 0;
    Font-family: Yeseva One;
    Font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 676px;
    max-height: 94px;
    margin-left: 134px;
    padding-right: 80px;
}
.content {
    Font-family: Nunito Sans;
    color: #FFFFFF;
    font-size: 22px;
    max-width: 504px;
    padding-top: 19px;
    position: relative;
    z-index: 1;
    margin-left: 134px;
}
.hero2 {
    background-color: #131313;
    max-width: 100%;
    height: 1074px;
    margin-top: -11px;
}
.listnav {
    Font-family: Yeseva One;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    text-transform: uppercase;
    display: inline;
    margin-right: 60px;
    margin-bottom: 52px;
}
.listnav:first-child {
    margin-left: 626px;
    text-decoration: underline;
    color: #E3B873;
}
.title2 {
    Font-family: Yeseva One;
    Font-size: 40px;
    font-weight: 400;
    color: #E3B873;
    text-transform: uppercase;
    max-width: 253px;
    max-height: 66px;
    margin-left: 134px;
    margin-top: 69px;
}
.image {
    padding-left: 626px;
    margin-top: -171px;
}
.paragraph {
    font-family: Nunito Sans;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 34px;
    max-width: 442px;
    max-height: 86px;
    margin-left: 134px;
}
.list {
    padding-top: 107px;
}
.char {
    font-family: Yeseva One;
    font-size: 18px;
    color: #E3B873;
    text-transform: uppercase;
    list-style: none;
    max-width: 218px;
    display: flex;
    flex-direction: column;
    margin-left: 134px;
    column-width: 201px;
    margin-bottom: 85px;
    position: relative;
}
.paragraph1 {
    font-family: Nunito Sans;
    font-size: 13px;
    color: #FFFFFF;
    margin-left: 134px;
    margin-top: 9px;
    max-width: 161px;
}
.char1 {
    columns: 2;
    max-width: 403px;
    padding-left: 0;
    margin-top: -300px;
}